td, th {
    text-align: left; 
    border: .1em black solid;
    margin: 0;
    padding: .4em;
}

table {
    border-collapse: collapse;
    margin: .8em 0;
}

body {
    margin: .4em;
}

fieldset {
    padding: .4em;
    border: .1em black solid;
    position: relative;
}

fieldset > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: .4em;
}

button {
    text-align: center;
}

.center {
    width: 100%;
    text-align: center;
    padding: .4em;
}

.warning {
    color: red;
}
